.mytodos {
  background: rgba(32, 228, 228, 0.811);
  backdrop-filter: blur(2px);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
h1 {
  font-size: 72px;
  background: -webkit-linear-gradient(#f1e8e3, #ee190a);
  backdrop-filter: blur(5px);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto, minmax(300px, 1fr));
  gap: 10px;
}
.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #29ace9;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
@media screen and (min-width: 0px) and (max-width: 700px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (min-width: 701px) and (max-width: 992px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 993px) and (max-width: 1400px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1401px) and (max-width: 1600px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
  }
}
